# editor config
/.vscode

# Python
# env&cache
__pycache__/
venv/
upload/
# pyinstaller
dist/
build/
# model cache
output/
images/
dataset/
debug/

# Node
# dependencies
/node_modules
/.pnp
.pnp.js
# production
gui/
gui/index.html

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
