.canvas-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quickview-container {
  text-align: center;
  background-color: #bdb8bf;
}

canvas {
  background-color: black;
}
