html {
  /* background-color: black;
  color: white; */
  background-image: radial-gradient(
      circle at 71.4697265625% 10.475260416666666%,
      #867cd7 0%,
      15.75%,
      rgba(134, 124, 215, 0) 35%
    ),
    radial-gradient(
      circle at 88.9599609375% 81.34114583333333%,
      #ffffff 0%,
      32.5%,
      rgba(255, 255, 255, 0) 65%
    ),
    radial-gradient(
      circle at 58.8232421875% 11.051432291666668%,
      #c3bdeb 0%,
      41.99999999999999%,
      rgba(195, 189, 235, 0) 60%
    ),
    radial-gradient(
      circle at 38.7548828125% 96.91080729166667%,
      #3d357a 0%,
      25%,
      rgba(61, 53, 122, 0) 50%
    ),
    radial-gradient(
      circle at 17.003580729166668% 58.362630208333336%,
      #fbfbfb 0%,
      35%,
      rgba(251, 251, 251, 0) 50%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #ffffff 0%,
      100%,
      rgba(255, 255, 255, 0) 100%
    );
}

html,
body,
.root {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.util-page {
  height: 100%;
  width: 100%;
}
